<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>UploadTest</servlet-name>
        <servlet-class>UploadTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uservalidate</servlet-name>
        <servlet-class>uservalidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServTest</servlet-name>
        <servlet-class>ServTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DynVal1</servlet-name>
        <servlet-class>DynVal1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateEmpData</servlet-name>
        <servlet-class>updateEmpData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCityData</servlet-name>
        <servlet-class>getCityData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCity</servlet-name>
        <servlet-class>addCity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addPendingProp</servlet-name>
        <servlet-class>addPendingProp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>asgncityce2</servlet-name>
        <servlet-class>asgncityce2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addRegionCode</servlet-name>
        <servlet-class>addRegionCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getRegionCode</servlet-name>
        <servlet-class>getRegionCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCat</servlet-name>
        <servlet-class>addCat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sasUploadTest</servlet-name>
        <servlet-class>sasUploadTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addApprovedProperty</servlet-name>
        <servlet-class>addApprovedProperty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addUser</servlet-name>
        <servlet-class>addUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processPropert</servlet-name>
        <servlet-class>processPropert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rateProperty</servlet-name>
        <servlet-class>rateProperty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setLocation</servlet-name>
        <servlet-class>setLocation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadTest</servlet-name>
        <url-pattern>/UploadTest</url-pattern>
    </servlet-mapping>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
      C:\Users\Sashank\Documents\NetBeansProjects\Squink\web\images\
     </param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>uservalidate</servlet-name>
        <url-pattern>/uservalidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServTest</servlet-name>
        <url-pattern>/ServTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DynVal1</servlet-name>
        <url-pattern>/DynVal1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateEmpData</servlet-name>
        <url-pattern>/updateEmpData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCityData</servlet-name>
        <url-pattern>/getCityData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCity</servlet-name>
        <url-pattern>/addCity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addPendingProp</servlet-name>
        <url-pattern>/addPendingProp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>asgncityce2</servlet-name>
        <url-pattern>/asgncityce2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addRegionCode</servlet-name>
        <url-pattern>/addRegionCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getRegionCode</servlet-name>
        <url-pattern>/getRegionCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCat</servlet-name>
        <url-pattern>/addCat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sasUploadTest</servlet-name>
        <url-pattern>/sasUploadTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addApprovedProperty</servlet-name>
        <url-pattern>/addApprovedProperty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addUser</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processPropert</servlet-name>
        <url-pattern>/processPropert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rateProperty</servlet-name>
        <url-pattern>/rateProperty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setLocation</servlet-name>
        <url-pattern>/setLocation</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>LoginPage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
